body{
    background-image: linear-gradient(90deg, cyan, rgb(255, 0, 0), rgb(48, 41, 41));
}
div{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 25px;
    color: #fff;
    text-align: center;
}
input{
    padding: 12px;
    font-size: 15px;
}
.nome{
    border-radius: 50px;
}
button{
    width: 100%;
}
button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}
ul{
    padding: 10px;
    background-color:black;
    border: 1mm;
}
